@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

:root {
  --text-color: blue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-emphasis-color: grey;
  font-family: "Lato", sans-serif;
}

#nav_bar_text_style {
  font-family: "Lato", sans-serif;
}

.meat_in_center {
  text-align: center;
}

body {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  color: grey;
}

h3 {
  float: right;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: grey;
}

/* #intro_background_color { */
/* background-color: grey; */
/* } */

.links {
  display: inline;
  font-weight: lighter;
  text-decoration: none;
  color: grey;
}

#testimonials {
  text: var(--text-color);
}

h2 {
  text-align: center;
}

#meat_margins_set {
  margin: 25px;
}

/* #move_meat_logo_ {text-align: left;} */

#about_move_me {
  position: relative;
  right: 20px;
}

.welcome_meat_eaters_move {
  text-align: center;
}
#testimonials_move_me {
  position: relative;
  left: 20px;
}

/* #sizing_intro_greeting {height: 100px;} */

/* #the_science_move_me {position: relative;right: 125px;} */

#resources_move_me {
  position: relative;
  left: 40px;
}

#contact_move_me {
  position: relative;
  left: 55px;
}

.intro_meat_picture {
  width: 700px;
  height: 400px;
  background-image: url(./images_for_project2/sliding_image1.jpg);
  margin: 100px auto;
  background-repeat: no-repeat;
  animation: meat_slide 20s infinite;
}

@keyframes meat_slide {
  25% {
    background-image: url(./images_for_project2/sliding_image4.jpg);
  }
  50% {
    background-image: url(./images_for_project2/sliding_image3.jpg);
  }
  75% {
    background-image: url(./images_for_project2/sliding_image2.jpg);
  }
  100% {
    background-image: url(./images_for_project2/sliding_image1.jpg);
  }
}

#size_intro_meat_picture {
  height: 700px;
}

ul {
  list-style-type: none;
}

.about_color {
  color-adjust: black;
}

.size_navbar {
  margin-bottom: 45px;
  margin-top: 15px;
}

p {
  font-size: 20px;
}

.headers_font_weight {
  font-size: 50px;
}

#border_box_edit_for_about {
  margin: 100px auto;
}

.description_margin {
  margin: 20px 150px;
}

.info_div_border_about {
  border-top: 4px double;
  border-bottom: 4px double;
  padding: 40px;
  margin: 20px;
}

.border_the_science {
  border-bottom: 4px double;
  padding: 40px;
  margin: 20px;
}

.border_testimonials {
  border-bottom: 4px double;
  padding: 40px;
  margin: 20px;
}

.baker_book_image_position {
  position: relative;
  left: 20px;
  float: left;
}

.txt_baker {
  font-size: 30px;
  position: relative;
  left: 30px;
  margin-right: 50px;
  top: 5px;
}

.baker_buy_book_button {
  margin-top: 100px;
  background-color: lightskyblue;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
}

.saldino_image_position {
  position: relative;
  top: 20px;
  left: 20px;
  float: left;
}

.txt_saldino {
  font-size: 30px;
  position: relative;
  left: 30px;
  margin-right: 50px;
  top: 20px;
}

.saldino_buy_book_button {
  margin-top: 100px;
  background-color: lightskyblue;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
}

/* .border_me {
  border: pink solid 2px;
  height: 800px;
} */

.cho_image_position {
  position: relative;
  top: 20px;
  left: 20px;
  float: left;
}

.txt_cho {
  font-size: 30px;
  position: relative;
  left: 30px;
  margin-right: 50px;
  top: 20px;
}

.cho_buy_book_button {
  margin-top: 100px;
  background-color: lightskyblue;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
}

.contact_us {
  margin: auto;
  text-align: center;
}

.move_your_name {
  position: relative;
  left: 20px;
  float: left;
  top: 5px;
}

.name_placeholder_text_size {
  font-size: 50px;
}

.name_input {
  position: relative;
  left: 20px;
  bottom: 2px;
  float: left;
}

.email_placeholder_text_size {
  font-size: 50px;
}

.email_input {
  position: relative;
  bottom: 83px;
  right: 10px;
}

.move_email {
  position: relative;
  bottom: 52px;
  right: 438px;
  /* margin-bottom: 2px; */
}

.move_me_phone {
  position: relative;
  float: right;
  right: 425px;
  bottom: 178px;
  /* margin-bottom: 2px; */
}

.phone_placeholder_text_size {
  font-size: 50px;
}

.phone_input {
  position: relative;
  float: right;
  left: 25px;
  bottom: 147.4px;
}

.move_me_topic_of_your_email {
  position: relative;
  bottom: 45px;
  left: 113px;
  margin-bottom: 2px;
}

.topic_font_size {
  font-size: 50px;
}

.topic_input {
  position: relative;
  bottom: 40px;
  left: 260px;
}

.move_me_message {
  position: relative;
  right: 510px;
  bottom: 10px;
}

.message_text_size {
  font-size: 20px;
}

.submit_ {
  font-size: 50px;
  color: white;
  background: green;
  padding: 10px 10px;
}

#testimony_pictures {
  width: 700px;
  height: 500px;
  overflow: hidden;
  background: url(./carnivore_transformation/picture1.jpg);
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
  animation: carnivore_transformation 20s infinite;
  margin-top: 20px;
}

@keyframes carnivore_transformation {
  25% {
    background-image: url(./carnivore_transformation/picture4.jpg);
  }
  50% {
    background-image: url(./carnivore_transformation/picture3.jpg);
  }
  75% {
    background-image: url(./carnivore_transformation/picture2.jpg);
  }
  100% {
    background-image: url(./carnivore_transformation/picture1.jpg);
  }
}

/* .carn_transformation_image_container {
  width: 500px;
  height: 700px;
  display: flex;
  align-content: center;
  justify-content: center;
  border: black 2px solid;
  margin-top: 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
} */

.carn_transformation_image_container {
  position: relative;
  width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
}

.carn_transformation_image1 {
  height: 500px;
  width: 500px;
  background-image: url(./carnivore_transformation/picture1.jpg);
  background-size: 80%;
  background-position: center;
  margin: auto;
  transition: 1s;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
}

/* .carn_transformation_image1:hover {
  background-size: 100%;
  background-position: center;
} */

.image1_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.image1_description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
/* 
.carn_transformation_image2 {
  width: 500px;
  height: 500px;
  background: url(./carnivore_transformation/picture2.jpg);
  background-size: 80%;
  background-position: center;
  margin: auto;
  transition: 1s;
  background-repeat: no-repeat;
}

.carn_transformation_image2:hover {
  background-size: 100%;
  background-position: center;
}

.carn_transformation_image3 {
  width: 500px;
  height: 500px;
  background: url(./carnivore_transformation/picture3.jpg);
  transition: 1s;
  background-size: 80%;
  background-position: center;
  margin: auto;
  background-repeat: no-repeat;
}

.carn_transformation_image3:hover {
  background-size: 100%;
  background-position: center;
}

.carn_transformation_image4 {
  background: url(./carnivore_transformation/picture4.jpg);
  width: 500px;
  height: 500px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;
}

.carn_transformation_image4:hover {
  background-size: 100%;
  background-position: center;
} */
